# History files
.Rhistory
.Rapp.history
.DS_Store

# Session Data files
.RData
*.csv

# RStudio files
.Rproj.user/
MAT5314-Graduate-Proj.Rproj

# Project file
*.html
*.log
*.pdf
*.tex
Figures/*_files/
!Citation/*.pdf

