# History files
.Rhistory
.Rapp.history
.DS_Store

# Session Data files
.RData
eqarchive-en.csv

# RStudio files
.Rproj.user/

# Project file
Data_Analysis_Proj_2.Rproj
*.html
*.log
*.pdf

Figures/*_files/
!Citation/*
MAT5314-Project-2.tex

